body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body, html {
    height: 100%;
  }

nav {
    background-color: black;
    font-family: 'Major Mono Display', monospace;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: cornflowerblue;
}
.left_nav {
    float: left;
    position: relative;
    margin-top: 34px;
    list-style: none;
    color: white;
}

.left_nav li {
    float: left;
    margin-right: 24px;
    font-size: 1.5em;
}

.right_nav {
    float: right;
    position: relative;
    list-style: none;
    margin-top: 34px;
    color: white;
}

.right_nav li {
    float: left;
    margin-right: 24px;;
    font-size: 1.5em;
}

.logo {
    display: inline-block;
    color: white;
    font-size: 2em;
}

.bg {
    height: 100%;
    width: 100%;
    background-image: url("/Users/levismith/Dev/CoffeeSite/Media/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page_1, #page_2 {
    height: 100%;
    width: 100%;
}

/* CSS for Products Page */

.product {
    width: 400px;
    margin-top: 150px;  
}

.center {
    margin-left: 2%;
    margin-right: 2%;
}

.row_1, .row_2 {
    text-align: center;
}